body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

.floater {
  position: absolute;
  background-color: black;
  z-index: 2000;
  bottom: 40px;
  left: 30px;
  width: 300px;
  height: 200px;
  width: 180px;
  opacity: 0.8;
  border-radius: 10px;
  color: white;
}

.leg-list li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 15px;
    border: 0px solid #999;
    }

.desc {
  margin-left: 15px;
  font-size: 80%
}

.leg-list {
  display: inline;
  padding-left: 10px;
  list-style: none;
  align-content: left;
}
